
*.vsidx
*.db
*.db-wal
*.db-shm
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
PackageProcessing/ConsoleApplication1/.vs/ConsoleApplication1/v17/.suo
*.tlog
*.obj
*.idb
*.log
*.recipe
*.ilk
*.pdb
*.exe
